<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>deleteAccount</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/signup.css">
</head>

<body>
    <div id="mainForm">
        <form action="/deleteUser" method="post" class="loginform">
            <input type="text" placeholder="Enter username here (Must be unique)" name="username" autocomplete="off"
                required>
            <input type="password" placeholder="Enter password" name="password" autocomplete="off" required>
            <button type="submit">deleteAccount</button>
        </form>
    </div>
</body>

</html>