<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div style="position: absolute; width: 70%; z-index: -1; opacity: 0.1;">
        <svg viewBox="0 0 800 500" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" id="blobSvg">
            <g transform="translate(46, -163)">
                <path class="blob"
                    d="M408.5,340Q354,430,245.5,437.5Q137,445,100.5,347.5Q64,250,108.5,166Q153,82,245.5,89.5Q338,97,400.5,173.5Q463,250,408.5,340Z"
                    fill="none" stroke-width="4px" stroke="#f24"></path>
            </g>
        </svg>
    </div>
    <div id="mainContainer">
        <h1>Welcome to <span class="effects">hChats</span></h1>
        <p class="add">Raise your voice here</p>
        <div class="buttons">
            <a href="/signUp">Create Account</a>
            <a href="/login">LogIn</a>
        </div>
    </div>
</body>

</html>